.activity-page {
    margin-top: 3rem;
}

.activity-page h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

.activity-page p {
    font-weight: bold;
    margin: 1rem;
}

.activity-page > p {
    font-size: 1.2rem;
    margin: 2rem;
}

.activity {
    margin: 0.5rem;
}

.activity p {
    margin: 5px;
}

.activity a {
    color: green;
    text-decoration: none;
}

.activity h3 {
    padding: 5px;
}

.activity button {
    margin: 2rem;
}